@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.container {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.logo {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: #EDF6F3;
  border-radius: 12px;
}



